@import "src/shared/scss/variable.scss";

#cardBody {
    background: $card-body-background;
    border: solid 1px $card-body-border-color;
    border-radius: 3px;
    box-shadow: 1px 1px 14px -9px $card-body-shadow;
    color: #fff;
    margin: 10px;
    position: relative;

    animation: cardBodyPop 500ms 1;
    animation-fill-mode: forwards;

    .card-header {
        padding: 10px;
        border-bottom: solid 1px #2e3442;
    }
    .card-content {
        padding: 10px;
    }
}

#cardBodyModal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;

    &:before {
        content: "";
        width: 100%;
        height: 100%;
        background: $card-body-sheet;
        opacity: 0.9;
        display: block;
        position: absolute;
    }

    #cardBody {
        animation: cardBodyModalPop 500ms 1;
        animation-fill-mode: forwards;

        .card-content {
            min-height: 120px;
            min-width: 450px;
        }
    }
}

@keyframes cardBodyModalPop {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    10% {
        opacity: 1;
        transform: translateY(30px);
    }
    25% {
        opacity: 1;
        transform: translateY(-30px);
    }
    50% {
        opacity: 1;
        transform: translateY(15px);
    }
    75% {
        opacity: 1;
        transform: translateY(-15px);
    }
    75% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes cardBodyPop {
    0% {
        opacity: 0;
        transform: translateY(15px);
    }
    75% {
        opacity: 1;
        transform: translateY(-15px);
    }
    75% {
        opacity: 1;
        transform: translateY(0);
    }
}
