.soundVolume {
   .wrapSoundVolumeOptions {
      .bar {
         display: flex;
         flex-direction: row;
         justify-content: space-between;
         align-items: center;
         margin-bottom: 20px;

         button {
            margin-right: 10px;
         }
      }
   }
   .customTitleWrap {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
   }
}
