$primary: #00ff72;
$secondary: #313131;

$success: #00ff72;
$error: #e20d47;

$menu-background: #1a2030;
$menu-active-background: #161b29;
$menu-cta-background: #d8a317;
$menu-color-static: #e2e2e2;
$menu-color-active: #fff;

$card-body-background: rgba(26, 32, 48, 0.3);
$card-body-border-color: #161b29;
$card-body-shadow: #4e5977;

$input-border-color: rgba(226, 226, 226, 0.2);

$item-background: rgba(56, 63, 80, 0.4);
$item-box-border-color: #000;

$item-background-tier-5: rgba(17, 54, 160, 0.25);
$item-background-tier-7: rgba(168, 35, 183, 0.25);
$item-background-tier-9: rgba(226, 13, 71, 0.25);
$item-background-tier-10: rgba(230, 224, 24, 0.25);

$item-tier-1-border-color: #676560;
$item-tier-2-border-color: #173e16;
$item-tier-3-border-color: #0f6d0c;
$item-tier-4-border-color: #27355d;
$item-tier-5-border-color: #1136a0;
$item-tier-6-border-color: #662a6d;
$item-tier-7-border-color: #a823b7;
$item-tier-8-border-color: #8c1737;
$item-tier-9-border-color: #e20d47;
$item-tier-10-border-color: #cec80c;
