@import "@/shared/scss/variable.scss";

#hunts {
   .landscape {
      height: 100vh;
      background-size: cover;
      background-position: center center;

      .containerGrid {
         padding: 20px;

         .contentGrid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(1, 1fr);
            grid-gap: 20px;

            &[boss-type] {
               grid-template-columns: repeat(2, 1fr);
               grid-template-rows: repeat(1, 1fr);

               .huntingOptions {
                  grid-template-columns: repeat(4, 1fr);
               }
            }
         }
         .theme--dark.v-tabs > .v-tabs-bar {
            background-color: $card-body-shadow;
         }
         .theme--dark.v-tabs-items {
            background: rgba(26, 32, 48, 0.5);
            padding: 20px;
            border-radius: 0 0 5px 5px;
         }
      }

      &:before {
         content: "";
         display: block;
         width: 100%;
         height: 100%;
         background: rgb(17, 20, 29);
         background: linear-gradient(90deg, rgba(17, 20, 29, 1) 0%, rgba(32, 40, 62, 1) 100%);
         position: absolute;
         opacity: 0.9;
         transition: all 220ms ease-in;
      }

      .groupLevel {
         display: flex;
         color: #fff;
         position: relative;
         flex-direction: column;

         .huntingOptions {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 5px;
            transform: scale(0.99);
            transition: all 200ms ease-in;

            &:not([permission]) {
               opacity: 0.3;
               filter: grayscale(0.7) blur(4px);
               pointer-events: none;
            }

            &:hover {
               transform: scale(1);
            }

            #cardBody {
               margin: 0;
            }

            .controller {
               display: flex;
               justify-content: center;
               align-items: center;
               flex: 1;
            }
         }
      }
      .monsterCanvas {
         margin: 0 0 5px 0;

         #monsterHunt {
            position: relative;

            & > * {
               position: relative;
               z-index: 2;
            }
            .backgroundImg {
               background-image: url(/img/thumb-background.cc9d88ff.png);
               position: absolute;
               left: 0;
               top: 0;
               width: 100%;
               height: 100%;
               z-index: 1;
               border-radius: 5px 5px 0 0;
            }
            .level {
               padding: 5px;
               margin: 7px;
               display: inline-block;
               background: rgba(25, 27, 29, 0.5);
               border-radius: 3px;
               line-height: 1em;
               text-shadow: -1px 1px 2px #000, 1px 1px 3px #000, 1px -1px 0 #000, -1px -1px 0 #000;

               strong {
                  margin-right: 10px;
                  font-weight: 400;
               }
            }
            .monsterWrap {
               display: flex;
               justify-content: center;
               align-items: center;
               height: 150px;

               img {
                  height: auto;
                  filter: drop-shadow(0px 7px 6px black);
               }
            }
         }
      }

      .monsterBadge {
         padding: 4px;
         display: flex;
         justify-content: center;
         align-items: center;
         border-top: solid 1px $input-border-color;
         margin: 0 0 5px;
         font-size: 1.1em;
         letter-spacing: 0.06em;
         font-weight: 500;
         text-transform: uppercase;
      }

      .card-content {
         padding: 5px 0;
      }
   }
}
